
# dependencies = [
#     "windows-curses =^2.3.1; platform_system=='Windows'",
#     "numpy~1.23.0",
#     "pandas=1.5.3",
#     "scikit-learn^1.3.0",
#     "torch^2.0.1",
#     "torchvision^0.15.2",
#     "tqdm^4.65.0",
#     "tensorboardX^2.6.1",
#     "matplotlib^3.7.2",
#     "omegaconf^2.3.0",
#     "scipy^1.11.1",
#     "setproctitle^1.3.2",
#     # ray default as we need to use the state API
#     # keeping it fixed as the API changes a lot between versions.
#     "ray^2.6.1",
#     # TODO when to migrate from "pydantic<2" to >2 https://github.com/ray-project/ray/issues/37019
#     "pydantic=1.10.0",
#     "pynvml^11.5.0",
#     "optuna^3.2.0",
#     "tabulate^0.9.0",
#     "seaborn^0.12.2",
#     "numpydoc^1.5.0",
#     "paramiko^3.2.0",
#     "gpustat^1.1" # must stay fixed because https://github.com/ray-project/ray/issues/35384
# ]


[project]
name = "ablator"
version = "0.0.1b2"
authors = [{ name = "Iordanis Fostiropoulos", email = "mail@iordanis.me" }]
readme = "README.md"
license = {file = "LICENSE"}
description = "Model Ablation Tool-Kit"
requires-python = ">3.10"

dependencies = [
    "numpy==1.24.1",
    "pandas==2.0.0",
    "scikit-learn==1.2.2",
    "torch==1.13.1",
    "torchvision==0.14.1",
    "tqdm==4.64.1",
    "tensorboardX==2.6",
    "matplotlib==3.7.1",
    "omegaconf==2.2.3",
    "scipy==1.10.1",
    "setproctitle==1.3.2",
    "ray[default]==2.5.1",
    "pydantic==1.10.11",
    "pynvml==11.5.0",
    "optuna==3.1.1",
    "tabulate==0.9.0",
    "seaborn==0.12.2",
    "numpydoc==1.5.0",
    "paramiko==3.2.0",
    "gpustat==1.0"
]

[project.optional-dependencies]
dev = [
    "mypy==1.2.0",
    "pytest==7.3.0",
    "black==23.3.0",
    "flake8==6.0.0",
    "pylint==2.17.2",
    "tensorboard==2.12.2",
    "mock==5.0.2",
    "types-tabulate==0.9.0.2",
    "types-paramiko==3.2.0.0",
    "docker==6.1.3",
    "pytest-xdist==3.3.1",
    "pytest-order==1.1.0",
    "pytest-rerunfailures==12.0",
    "pydoclint==0.1.0"
]

[tool.setuptools]
py-modules = []

[project.urls]
homepage = "https://ablator.org"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

# black = "^23.7.0"
# flake8 = "^6.0.0"
# pylint = "^2.17.5"