name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda install pip
        pip install -e .
    - name: Install SSH and generate keys
      run: |
        sudo apt-get update
        sudo apt-get install -y openssh-server
        sudo service ssh start
        ssh-keygen -t rsa -f ~/.ssh/id_rsa -q -N ""
        cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
        sudo apt-get install -y rsync
    - name: Test with pytest
      run: |
        conda install pytest
        pytest